html {
    background: #F0F2F4;
}

.container-divider {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
}

.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
}

.breadcrumbs li {
    color: #666;
    display: inline;
    font-weight: 300;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    color: rgba(90, 15, 255, 1);
    text-decoration: none;
}

.search {
    position: relative;
}

input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

.search input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    color: #999;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
}

.category-container {
    display: flex;
    justify-content: flex-end;
}

.category-content {
    flex: 1;
}

.page-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.page-header h1 {
    flex-grow: 1;
    margin-bottom: 10px;
    font-size: 32px;
}

.page-header-description {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 30px 0;
    word-break: break-word;
}

.section-tree {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-tree .section {
    flex: initial;
}

.section-tree-title {
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

.article-list-item {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 15px 0;
}

.article-list-item a {
    color: #333333;
}

.section-tree-title a {
    color: #333333;
}

.section {
    margin-bottom: 40px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1 {
    font-size: 32px;
}

.form {
    max-width: 650px;
}

input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

.form-field label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.form-field input {
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
}

.form-field input[type="text"] {
    border: none;
    border-radius: 4px;
}

.form-field~.form-field {
    margin-top: 25px;
}

.form-field.required>label::before {
    content: "*";
    color: #f00;
    margin-left: 2px;
}

textarea {
    border: none;
    border-radius: 2px;
    resize: none;
    width: 93%;
    outline: none;
    padding: 10px;
}

.form-field textarea {
    vertical-align: middle;
    font-size: 1rem;
}

.request-form textarea {
    min-height: 120px;
}

.form-field p {
    color: #666;
    font-size: 12px;
    margin: 5px 0;
}

.form footer {
    margin-top: 0;
    padding-top: 30px;
}

.button-large,
input[type="button"] {
    display: block;
    background-color: #FBC85F;
    border: 0;
    border-radius: 4px;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    min-width: 190px;
    width: 100%;
    height: 35px;
    -webkit-appearance:none;
}
