@media screen and (max-width: 1200px) {
	.menu{
	    width:95%;
	}
	.main{
	    width: 100%;
	}
	#nav {
	    margin-left: 72px;
	}
	.logo img {
	    width: 85%;
	}
	.sleAreaDiv{
		right: 30px;
	}
	.download_box {
	    width: 540px;
	    float: left;
	    margin-left: 20px;
	}
	.main h1.title p {
	    font-size: 35px;
	    color: #3A6FF8;
	}
	.download_box > p {
	    font-size: 45px;
	    font-weight: normal;
	    margin-top: 100px;
	}
	.app_download a{
		width: 225px;
    	height: 65px;
	}
	.app_download a img {
	    width: 35px;
	    height: 42px;
	    margin: 12px 0 0 12px;
	}
	.load_info p {
	    font-size: 16px;
	}
	.load_info h4 {
	    font-size: 21px;
	}
	.load_big {
	    width: 610px;
	}
	.zengyi .zy_txt {
	    width: 510px;
	    margin-right: 30px;
	}
	.load_bg {
	    width: 1200px;
	}
	.zengyi_bg {
	    width: 49%;
	}
	.coin_bg {
	    width: 50%;
	    top: -280px;
	}
	img.coin05 {
	    left: 554px;
	}
	img.coin06 {
	    right: 345px;
	}
	img.coin11 {
	    left: 640px;
	}
	img.coin12 {
	    right: 255px;
	}
	.ecology ul li {
	    margin: 0 20px 30px;
	}
	.foot_box {
	    width: 100%;
	}
	.email{
		margin: 0 0 0 20px;
	}
	.support {
	    margin: 10px 0 0 250px;
	}
	.company {
	    margin: 10px 0 0 110px;
	}
	.social {
	    margin: 15px 0 0 185px;
	}
	.biyao{
		margin-top: 50px;
	}
	.pro_safe{
		padding-top: 50px;
	}
	.main h1.title p span{
		font-size: 35px;
	}
	.zy_txt h2{
		font-size: 28px;
		margin: 60px 0 15px;
	}
	.zy_txt p{
		font-size: 20px;
	}
	.zengyi img {
		width: 541px;
    	height: 462px;
    	margin-right: 30px;
	}
	.main h1.title {
	    margin-bottom: 100px;
	}
	.cunchu .zy_txt {
	    width: 500px;
    	margin-top: 165px;
    	margin-left: 60px;
	}
	.manycoin{
		padding-top: 70px;
	}
	.shengtai{
		padding-top: 70px;
	}
}
@media screen and (max-width: 1024px) {
	body {
	    overflow-x: hidden;
	    overflow-y: scroll;
	}
	#nav{display: none;}
	.sleAreaDiv{display: none;}
	#snav{
		display: block;
		margin: 20px 20px 0 0;
	}
	.logo {
	    float: left;
	    margin-top: 25px;
	    margin-left: 15px;
	}
	.menu{
	    width:100%;
	}
	.main{
	    width: 100%;
	}
	.load_big {
	    width: 630px;
	}
	.download_box {
	    width: 710px;
	    float: none;
	    margin: 0 auto;
	}
	.download_box > p {
	    font-size: 55px;
	    font-weight: normal;
	    margin-top: 100px;
	}
	.load_big{
		float: none;
		margin: 125px auto 0;
	}
	.load_bg {
	    width: 1370px;
	    height: auto;
	    top: -200px;
	}
	.biyao {
	    padding-top: 20px;
	}
	.zengyi img {
	    float: none;
	    margin: 50px auto 0;
	}
	.main h1.title {
	    margin-bottom: 100px;
	}
	.zengyi .zy_txt {
	    width: 75%;
	    float: none;
	    margin: 50px auto 0;
	}
	.zengyi .zy_txt p, .zengyi .zy_txt h2{
	    text-align: center;
	}
	.zengyi_bg {
	    width: 49%;
	}
	.zengyi_bg {
	    top: 470px;
	}

	.coin_bg {
	    width: 50%;
	    top: -280px;
	}
	p.title_sub {
	    margin-bottom: 50px;
	}
	img.coin05 {
	    display: none;
	}
	img.coin06 {
	    right: 345px;
	}
	img.coin11 {
	    left: 640px;
	}
	img.coin12 {
	    right: 255px;
	}
	.ecology {
	    margin-bottom: 50px;
	}
	.ecology ul {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	}
	.ecology ul li {
	    width: 19%;
	    margin: 25px 3%;
	}
	.ecology ul li img{
	    width: 100%;
	}
	.foot_box {
	    width: 100%;
	}
	.email{
		margin-left: 15px;
	}
	.support {
	    margin: 10px 0 0 170px;
	}
	.company {
	    margin: 10px 0 0 60px;
	}
	.social {
	    margin: 15px 0 0 140px;
	}
	.pro_safe {
	    padding-top: 90px;
	}
}
@media screen and (max-width: 768px) {
	.load_bg {
	    width: 1080px;
	    height: auto;
	    top: -205px;
	}
	.logo img {
	    width: 70%;
	}
	.nav {
	    height: 70px;
	}
	.download_box > p {
	    font-size: 35px;
	    margin-top: 60px;
	    width: 450px;
	    line-height: 60px;
	}
	.app_download a {
	    width: 190px;
	    height: 50px;
	}
	.app_download a img {
	    width: 30px;
	    height: 37px;
	    margin: 7px 0 0 15px;
	}
	.load_info {
	    margin: 5px 0 0 10px;
	}
	.load_info p {
	    font-size: 14px;
	}
	.load_info h4 {
	    font-size: 16px;
	}
	.main h1.title p {
	    font-size: 35px;
	}
	.main h1.title p span {
	    font-size: 35px;
	}
	.biyao {
	    padding-top: 60px;
	}
	.zy_txt h2 {
	    font-size: 30px;
	}
	.zy_txt p {
	    font-size: 21px;
	}
	.ecology ul li {
	    width: 27%;
	}
	.foot_box {
	    width: 100%;
	    display: block;
	    padding: 0 8%;
	}
	.foot_box > div{
		float: left;
	}
	.email {
	    margin-left: 0;
	}
	.support {
	    margin: 10px 0 0 140px;
	}
	.social {
	    margin: 50px 0 50px -29px;
	}
	img.coin01{
	    left: 632px;
	    top: 0;
	}
	img.coin02{
	    right: 207px;
	    top: 0;
	}
	img.coin03{
	    left: 30px;
	    top: 26px;
	}
	img.coin04{
	    left: 192px;
	    top: 116px;
	}
	img.coin05{
		display: block;
	    left: 522px;
	    top: 113px;
	}
	img.coin06{
	    right: 405px;
	    top: -30px;
	}
	img.coin07{
	    right: 278px;
	    top: 72px;
	}
	img.coin08{
	    left: 0px;
	    top: 179px;
	}
	img.coin09{
	    left: 87px;
	    top: 302px;
	}
	img.coin10{
	    left: 430px;
	    top: 288px;
	}
	img.coin11{
	    left: 606px;
	    top: 305px;
	}
	img.coin12{
	    right: 352px;
	    top: 230px;
	}
	img.coin13{
	    right: 0px;
	    top: 214px;
	}
	img.coin14{
		display: none;
	    right: 50px;
	    top: 410px;
	}
	.coinList {
	    height: 450px;
	    margin-top: 80px;
	}
}

@media screen and (max-width: 414px) {
	/* .logo img {
	    width: 50%;
	}
	.load_bg {
	    width: 1000px;
	    height: auto;
	    top: -205px;
	}
	#snav {
	    display: block;
	    margin: -36px 13px 0 0;
	}
	.download_box {
	    width: 92%;
	    float: none;
	    margin: 0 auto;
	}
	.download_box > p {
	    font-size: 31px;
	    margin-top: 29px;
	    width: 100%;
	    line-height: 55px;
	}
	.app_download a {
	    width: 60%;
	    height: 50px;
	    display: flex;
	    float: none;
	    margin: 0 auto 20px;
	}
	.app_download {
	    margin-top: 35px;
	}
	.ios .load_info {
	    margin: 5px 0 0 37px;
	}
	.android .load_info {
	    margin: 5px 0 0 25px;
	}
	.load_big {
	    float: none;
	    margin: 125px auto 0;
	}
	.load_big{
		display: none;
	}
	.main h1.title p {
	    font-size: 24px;
	}
	.main h1.title p span {
	    font-size: 24px;
	}
	#zengyi{
		padding-top: 100px;
	}
	.main h1.title {
	    margin-bottom: 60px;
	}
	.zengyi img {
	    width: 341px;
	    height: 262px;
	    margin: 0 auto 0;
	}
	.zy_txt p {
	    font-size: 18px;
	}
	.zy_txt h2 {
	    font-size: 20px;
	    margin: 26px 0 15px;
	}
	.pro_safe .main h1{
		margin-bottom: 0;
	}
	.coin_bg {
	    width: 50%;
	    top: -677px;
	}
	.zengyi .zy_txt {
	    margin: 50px auto 20px;
	}
	p.title_sub {
		font-size: 16px;
	    margin-bottom: 50px;
	    width: 80%;
	    margin: 0 auto;
	    line-height: 28px;
	}
	.ecology ul li {
	    width: 44%;
	    margin: 10px 3%;
	}
	.foot_box {
	    display: flex;
	    	flex-wrap: wrap;
	    	justify-content: space-between;
	}
	.foot_box > div {
	    float: none;
	}
	.email{
		width: 100%;
		margin-bottom: 20px;
	}
	.email img{
		margin: 0 auto;
	}
	.email p{
		text-align: center;
	}
	.support {
	    margin: 10px 0 0 52px;
	} */
}
