@charset "utf-8";
*,
::after,
::before {
    box-sizing: border-box
}

.helpList ul li {
    background-color: #fff;
    border-radius: 5px;
    width: 95%;
    margin: 15px auto 0;
    padding: 20px 2%;
}

.helpList ul li a {
    display: block;
    width: 100%;
    height: 20px;
}

.helpList ul li a img,
.helpList ul li a span {
    float: left;
}

.helpList ul li a img {
    width: 15px;
}

.helpList ul li a span {
    font-size: 1rem;
    margin-left: 2%;
}

.helpList ul li a img.go {
    float: right;
    margin-top: 2px;
}

.topli {
    background-color: #fff;
    border-radius: 5px;
    width: 95%;
    margin: 15px auto 0;
    padding: 0 2% 0;
}

.topli h5 {
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid #ECECEC;
    line-height: 45px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.topli ul li {
    width: 100%;
}

.topli ul li a {
    display: block;
    width: 85%;
    float: right;
    border-bottom: 1px solid #ECECEC;
    padding: 15px 0;
}

.topli ul li a span {
    float: left;
    font-size: 0.9rem;
}

.topli ul li a img.go {
    float: right;
    width: 15px;
    margin-top: 2px;
}

.articleBox h1 {
    font-size: 1.1rem;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    line-height: 30px;
    border-bottom: 1px solid #ECECEC;
    color: #6b6b6b;
    font-weight: bold;
}

.articleBox article {
    padding: 15px 3%;
    font-size: 0.9rem;
    line-height: 27px;
}

.articleBox article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}